@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::placeholder {
  padding: 10px;
  color: rgba(79, 170, 79, 0.652);
  font-size: 13px;
}

body {
  font-family: "Roboto", sans-serif;
}
/* ----------- Head ----------- */
.top-date {
  letter-spacing: 1px;
  z-index: 1000;
}
#money-count > h1 {
  letter-spacing: 2px;
  z-index: 1000;
}
.income-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 70px;
  margin: auto 0;
  height: 50px;
  width: 100%;
  background-color: #2b507f;
  z-index: 1000;
}
.expenses-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 70px;
  margin: auto 0;
  height: 50px;
  width: 100%;
  background-color: #bb5e24;
  z-index: 1000;
}
.income-top-flex {
  display: flex;
  flex-direction: row;
}

/*----------- Forma ----------- */
#flex-forma {
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#options {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #d3d3d3;
}
#descrption {
  width: 450px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #d3d3d3;
}
#value {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #d3d3d3;
}
input {
  padding-left: 10px;
}
select {
  font-weight: bolder;
}
.select-selected:after {
  position: absolute;
  background-color: grey;
}
#flex-forma > div:nth-child(4) > svg {
  color: #bb5e24;
  font-size: 30px;
}
button {
  background-color: none;
  border: none;
}
i {
  color: #bb5e24;
  font-size: 30px;
}

/*---------- Tables ----------*/
#incomeTableHead {
  color: #2b507f;
}
#expenseTableHead {
  color: #bb5e24;
}
#th {
  text-transform: uppercase;
  width: 400px;
  display: flex;
  justify-content: start;
  border-bottom: 1px solid rgba(79, 170, 79, 0.234);
}
ul {
  padding: 0;
}
li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(79, 170, 79, 0.234);
  color: rgba(79, 170, 79, 0.912);
  padding: 0 15px;
  list-style: none;
}

.li-expense {
  color: #bb5e24;
}

.li-income {
  color: #2b507f;
}
#output {
  width: 100%;
}
